footer
    padding-top: 120px
    background-repeat: no-repeat
    background-size: cover
.footer
	&Contact
		&__row
			justify-content: space-between
		&__item
			display: flex
			color: #fff
			max-width: 335px

.footerContact___itemIcon
	margin-right: 20px
footer
	.footerContact__itemContent
		p
			margin-bottom: 0 !important
			margin-top: 0 !important
.footerMenu
	padding-top: 44px
	padding-bottom: 64px
	color: #fff
	border-top: 1px solid #fff
	&__item
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		&List
			width: 100%
			padding-left: 115px
			li
				list-style: none
				font-weight: bold
				font-size: 18px
				padding-bottom: 10px
				display: block
				color: #fff
				a	
					color: #fff
					text-decoration: none
			&Item


						
						
