.pop-up
    max-width: 640px
    padding-left: 66px
    padding-right: 66px
    padding-bottom: 62px
    padding-top: 62px
    text-align: center
    &__title
        margin-bottom: 30px
        text-align: center
    &__content
        margin-bottom: 38px
        text-align: center
.pop-up__button__wrapper
    align-items: center
    display: flex
    width: 100%
    justify-content: space-between