.image_content
    padding-top: 103px
    background: linear-gradient(180deg, rgba(0, 84, 166, 0) 15.1%, rgba(0,84,166,0.15) 47.92%, rgba(0,84,166,0.15) 59.9%, rgba(0, 33, 105, 0) 100%)
    margin-bottom: 40px
    position: relative
    +max-screen(768px)
        padding-top: 28px 
        margin-bottom: 30px
    &__heading
        text-align: center
        margin-bottom: 99px
        max-width: 656px
        margin-left: auto
        margin-right: auto
        +max-screen(768px)
            margin-bottom: 50px 
        h1
            color: #58585B
            margin-bottom: 30px
            +max-screen(768px)
                margin-bottom: 40px 
                font-size: 32px 
        p 
            margin-bottom: 0
            font-size: 20px
            max-width: 520px
            margin-left: auto
            margin-right: auto
    &__imageWrapper
        text-align: center
        padding-left: auto
        padding-right: auto
        img
            max-width: 100%
            object-fit: contain
    &__contentWrapper
        h2
            font-weight: bold
            color: #58585B
            span
                color: $color-secondary
                font-weight: bold
        ul
            li
                margin-bottom: 15px
                &::marker
                    color: $color-secondary
        +max-screen(768px)
            display: flex 
            flex-direction: column 
            h2 
                order: -1
                font-size: 28px 
                margin-bottom: 40px 
                text-align: center
            img
                max-width: 100%
                object-fit: contain
            ul 
                margin-top: 40px 
                margin-bottom: 15px 
    &__buttonsWrapper
        display: flex
        justify-content: center

body
     color: #58585B
.imageContent
    &__leftDecoration
        position: absolute
        +max-screen($breakpoint-md)
            display: none
    &__rightDecoration
        position: absolute
        right: 161px
        +max-screen($breakpoint-md)
            display: none
.image_content__buttonsWrapper
    margin-top: 40pz

.desktop
    +max-screen(768px)
        display: none
.mobile 
    +min-screen(769px)
        display: none
    
