.cta
    margin-bottom: 92px
    position: relative
    +max-screen($breakpoint-lg)
        display: none
    &__row
        background: #f2f6fb
        border-radius: 10px
        position: relative
    &__content
        padding: 60px !important
        padding-right: 0
        h2
            color: #58585B
            font-weight: bold
            font-size: 36px
            max-width: 369px
            margin-top: 0
            span
                color: $color-secondary
        p
            margin-bottom: 45px
    &__image
        img
            border-radius: 10px
            object-fit: cover
            object-position: left
            height: 100%
            max-width: 100%


    &__arrow
        position: absolute
        top: -35px
        left: 580px
.cta
    .button__red
        margin-left: 0
        padding: 19px 52px
.cta__image
    padding: 0 !important
.cta__leftTopDecoration
    position: absolute
    bottom: -11px
    left: 160px
    z-index: 1
.cta__leftBottomDecoration
    position: absolute
    top: 25px
    z-index: 1
    right: 160px

