.error
    position: relative
    margin-top: 200px
    margin-bottom: 200px
    &__content
        font-weight: bold
        font-size: 96px
        line-height: 123px
        letter-spacing: 0.15em
        color: #0054A6
    &__background
        position: absolute
    &__message
        font-size: 22px !important
        line-height: 130% !important
        text-align: center !important
        color: #0054A6 !important