body 
    background: white
    
.wrapper
    h1
        margin-bottom: 50px
/* Acordeon styles */

.faq
    &__heading
        h1
            text-align: center
            font-weight: 600
            font-size: 48px
            line-height: 62px
            margin-bottom: 50px
            color: #58585B
            +max-screen(768px)
                font-size: 32px 
                hyphens: 1.28
                margin-bottom: 30px 
    &__form
        &Heading
            h3
                margin-top: 0
                color: $color-txt-secondary
            +max-screen(768px)
                h3
                    margin-top: 15px 
                    margin-bottom: 20px 
                p 
                    margin-top: 0
                    margin-bottom: 25px                 
        &Name
            border: 1px solid #0054A6
            border-radius: 10px
            padding-top: 13px
            padding-bottom: 23px
            padding-left: 20px
            font-size: 18px
            line-height: 23px
            color: #0054A6
            opacity: 0.5
            width: 100%
            margin-bottom: 20px
            font-family: $font-family-base
        &Area
            border: 1px solid #0054A6
            border-radius: 10px
            padding-top: 13px
            padding-bottom: 23px
            padding-left: 20px
            font-size: 18px
            line-height: 23px
            color: #0054A6
            opacity: 0.5
            width: 100%
            height: 122px
            margin-bottom: 20px 
            font-family: $font-family-base
        &Submit 
            width: 200px
            align-items: center
            justify-content: center
            background: #fff
            +max-screen(768px)
                margin-left: 0
                display: inline-block
                margin-bottom: 0
        &ImageWrapper
            text-align: end
            position: relative
            +max-screen(768px)
                margin-top: -27px 
            &::before
                content: ""
                background: #F2F6FA
                border-radius: 130.5px 10px 10px 10px
                width: 410px
                height: 266px
                max-width: 100%
                position: absolute
                z-index: -1
                top: 68px
                left: -20px
                +max-screen(768px)
                    left: 0
.faq__formWrapper
    display: flex
    flex-direction: column
    height: 100%
    justify-content: space-between
.faq__Wrapper
    max-width: 920px
    +max-screen(768px)
        order: -1
.faq__formWrapper
    max-width: 367px
.faq
    &__title
        text-decoration: none
    &__item
        position: relative
        background: #FFFFFF
        box-shadow: 0px 7px 15px rgba(0, 84, 166, 0.15)
        border-radius: 10px
        padding:  20px 30px 20px 30px 
        margin-bottom: 15px
        +max-screen($breakpoint-md)
            padding: 11px 15px
        +max-screen(768px)
            margin-bottom: 20px 
        &:hover
            cursor: pointer
    &__text
        font-weight: 600
        font-size: 20px
        line-height: 140%
        color: #58585B
        text-decoration: none
        padding-right: 60px
        position: relative
        display: block
        +max-screen($breakpoint-md)
            padding-right: 40px
    &__active
        .faq__symbol
            button 
                span 
                    transform: rotate(90deg)
                    &:last-child
                        left: 50%
                        right: 50%


    &__symbol
        display: flex
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        font-weight: 300
        font-size: 50px
        color: $color-secondary
        button
            background: transparent
            width: 40px
            height: 40px
            border: 0
            font-size: 1.5em
            position: relative
            span
                position: absolute
                transition: 300ms
                background: $color-secondary
                border-radius: 2px
                &:first-child
                    top: 25%
                    bottom: 25%
                    width: 5%
                    left: 48%
                &:last-child
                    left: 25%
                    right: 25%
                    height: 5%
                    top: 48%
    &__content
        font-size: 20px
        line-height: 140%
        color: #58585B
        margin-top: 20px
    &__title
        text-decoration: none