.forte__hero
    background: #5B0029
    width: 100%
    margin-bottom: 80px
    .hero__imageWrapper
        padding-left: 0
        background-image: url(../assets/images/forte/panangin-forte-bg.png)
        background-repeat: no-repeat
        background-size: cover
        img
            width: 100%
    .row
        min-height: 600px
        height: calc(100vh - 97px)
        align-items: center
    &ImageBackground
        position: absolute
        top: -100%
        left: -30%
    &Content
        h1
            color: #fff
            margin-bottom: 24px
        li
            color: #fff
            padding-bottom: 15px
            list-style: none
            display: flex
            align-items: center
            svg
                margin-right: 17px
.page-template-forte
    header
        background: #5B0029