.forte__hero
    background: #5B0029
    width: 100%
    margin-bottom: 80px
    .hero__imageWrapper
        margin-bottom: 130px 
        padding-left: 0
        img
            width: 100%
.forte__heroImageBackground
    position: absolute
    top: -100%
    left: -30%
.forte__heroContent
    padding-top: 164px 
    h1
        color: #fff
        margin-bottom: 24px
    li
        color: #fff
        padding-bottom: 15px
        list-style: none
        display: flex
        align-items: center
        svg
            margin-right: 17px
