.action
    padding-top: 80px
    padding-bottom: 111px
    margin-bottom: 80px
.hero__action
    &__content
        background: #FFFFFF
        border: 1px solid rgba(173, 0, 77, 0.1)
        box-sizing: border-box
        border-radius: 5px
        padding-top: 20px
        padding-bottom: 20px
        padding-left: 40px
        padding-right: 25px
        margin-bottom: 50px
        max-width: 347px
        position: relative
        p
            margin-top: 0
            margin-bottom: 0
        &::before
            content: " "
            width: 10px
            height: 10px
            background: #AD004D
            border-radius: 50%
            position: absolute
            left: 20px
            top: 25px
    &__row
        margin-top: 50px
        justify-content: space-between
        margin-bottom: 60px
    &__imageWrapper
        img
            width: 100%
.hero__action__content__pseudo__right
    position: absolute
    top: 50%
    right: -66px
    +max-screen($breakpoint-md)
        display: none
.hero__action__content__pseudo__left
    position: absolute
    top: 50%
    left: -66px
    +max-screen($breakpoint-md)
        display: none      
.hero__action__additionalContent
    position: relative
    background: #FFFFFF
    box-shadow: 0px 7px 15px rgba(237, 19, 90, 0.2)
    border-radius: 10px
    max-width: 772px
    padding: 22px 44px
    margin-left: auto
    margin-right: auto
    p
        text-align: center
        font-size: 20px
        line-height: 140%
        text-align: center
        color: #AD004D
        margin-top: 0
        margin-bottom: 0
.forte__footer
    background: rgba(224,2,82,0.03)
    padding: 35px
    position: relative
    strong
        margin-bottom: 15px 
    p
        font-size: 20px
        line-height: 140%
        color: #A22752
.forte__info
    text-align: right
    font-size: 20px
    line-height: 140%
    color: #A22752
.hero__action__imageBAck
    position: absolute
    z-index: -2
    width: 90% !important
.hero__action
    &__imageWrapper
        +max-screen($breakpoint-md)
            order: -1
            padding-bottom: 100px
.action-right-bottom-pseudo,.action-right-top-pseudo,.action-left-bottom-pseudo,.action-left-top-pseudo
    position: absolute
.action-right-bottom-pseudo
    right: -20px
    top: 40px
.action-right-top-pseudo
    right: -40px
    top: -30px
.action-left-top-pseudo
    left: -40px
    top: -25px
.action-left-bottom-pseudo
    left: -20px
    top: 50px
.forte__action__title
    text-align: center
    color: #AD004D