.hero
    position: relative
    padding-bottom: 200px
    
    &__background
        position: absolute
        top: 0
        left: 0
        z-index: -2
        width: 100%
        svg
            width: 106%
    &__content
        &Wrapper
            h1
                font-size: 52px
                color: #fff
        &Image
            position: relative
            &Background
                content: ""
                background: rgba(255, 255, 255, 0.5)
                opacity: 0.5
                filter: blur(150px)
                position: absolute
                width: 508px
                height: 508px
        &Heart
            position: absolute
            top: 23%
            right: -55px
            z-index: -1
.warning
    img
        width: 100%
.customize-support
    .hero
        .container
            width: 1289px
    


            