.text-block
    border-radius: 10px
    background: #f2f6fb
    padding: 40px
.instructions__buttonWrapper
    text-align: center
    display: flex
    align-items: center
    justify-content: center
.instructions
    margin-bottom: 70px
    margin-top: 70px
    .page__heading
        margin-top: 0