.video-block
    margin-bottom: 70px
.video__wrapper
    position: relative
    img
        border-radius: 10px
        width: 100%
.video__button
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
